@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';


.container{
    border: none;
    height: 32px;
    padding: 0;
    display: -ms-inline-flexbox;
    display: inline-flex;
    outline: 0;
    font-size: .8125rem;
    transition: background-color .3s cubic-bezier(.4,0,.2,1) 0s,box-shadow .3s cubic-bezier(.4,0,.2,1) 0s;
    white-space: nowrap;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 16px;
    text-decoration: none;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 4px;
    background-color: $ms-color-themePrimary;
    color: $ms-color-themeLighterAlt;
    margin: 0px 1px 1px 1px;
    max-width: 140px;

    .innerContainer{
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        white-space: nowrap;
        padding-left: 12px;
        padding-right: 12px;
        overflow: hidden;
    }

}