@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.mvpStore {
  height: 80vh;
  width: 100%;

  .container{
    height: 100%;
    width: 100%;
    display: flex;
    @include ms-Grid-row;

    .mainView{
      @include ms-Grid-col;
      @include ms-lg8;
      @include ms-md9;
      @include ms-sm12;
    }

    .categoryView{
      @include ms-Grid-col;
      @include ms-lg4;
      @include ms-md3;
      @include ms-sm12;
    }
  }
}