@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.mvpNumberInfo{
    width: 100%;
    height: max-content;
    margin-top: 10px;

    .mvpNumberData{
        font-size: 1em;
        color: grey;
        width: 90%;
    
    }

    .mvpNumberInfoData{
        font-size: 1em;
        color: black;
    }
}