@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.solutionCreatedInfo{
    width: 100%;
    height: max-content;
    margin-top: 10px;
    margin-bottom: 10px;

    .solutionCreatedData{
        margin-bottom: 5px;
        font-size: 1em;
        color: grey;
        width: 90%;
    }

    .dataHolder{
        width: 95%;

        .normalizeUL{
            margin : 0;  
        }
    
        .noSolutionCreatedData{
            font-size: 1em;
            color: red;
            margin: 0;
        }

    }
}