@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.dataSourceInfo{
    width: 100%;
    height: max-content;
    margin-top: 10px;
    margin-left: 20px;

    .dataSourceData{
        margin-bottom: 5px;
        font-size: 1em;
        color: grey;
        width: 90%;
        padding-bottom: 3px;
    
    }

    .noDataSourceData{
        font-size: 1em;
        color: red;
    }
}