@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';


.DocumentCard{
    height: 300px;
    width: 100%;
    position: relative;
    cursor: pointer;
    margin: 0 10px 10px 10px;
    max-width: 46% !important;

    &:hover{
        outline: 1px solid #ccc;
    }

    .ImageContainer{
        height: 80%;
        width: 100%;
        box-sizing:content-box;
        border-bottom: 1px solid #ddd;

        .Image{
            height: 100%;
            width: 100%;
        }
    }

    .DetailSection{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding-left: 2px;
        padding-bottom: 4px;
        box-sizing: border-box;

        .Function{
            font-size: 13px;
            font-family: inherit;
            font-weight: 400;
            font-style: normal;
            box-sizing: content-box;
            color: $ms-color-themePrimary;
            padding-bottom: 2px;

            span{
                padding-right: 2px;
                
                &:hover{
                    text-decoration: underline;
                    text-decoration-color: $ms-color-themePrimary;
                }

            }
            
        }

        .Name{
            font-size: 14px;
            font-weight: 400;
            color: #111;
            line-height: 21px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;

            &:hover{
                text-decoration: underline;
                text-decoration-color: #111;
            }
        }

    }

}