@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.viewItemModalContainer{
    display: flex;
    height: 90vh;
    width: 70vw;
    flex-flow: column nowrap;
    align-items: stretch;
    overflow: hidden;
    background-color: transparent;

    .viewGap{
        height: 0.7%;
        width: 100%;
        background-color: transparent;
    }

    .spinnerContainer{
        height: 100%;
        width: 100%;
        position: relative;
        background-color: white;

        .spinnerPosition{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

    }

    
}